@model PhotoGallery.Models.ImageViewModel
@{
    ViewBag.Title = null;
}
<h2>Title:"@Model.Image.Title"</h2>
@using (Html.BeginForm("Details", "Image", null))
{
    <div style="">
        <div class="row-new alpha60">
            <div class="row-new">
                <div align="center">
                    <img class="img-responsive" src="~/Images/@Model.Image.Path" width="600" />
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-1">
                        <a href="@Url.Action("Vote", "Image",new {@id=Model.Image.Id})" class="btn btn-warning btn-xs">Vote!</a>
                    </div>
                    <div class="col-sm-1">
                        <p>Votes:@Model.Image.Vote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


