@model PhotoGallery.Models.Gallery
@{
    ViewBag.Title = "Create";
}

<h2>Create Gallery</h2>

<div>
    @using (Html.BeginForm("CreateAction", "Gallery", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.Name)
        </div>
        <div>
            <p>@Html.TextAreaFor(m => m.Name)</p> 
        </div>
        <input type="submit" value="Create" class="btn btn-warning btn-xs"/>
    }
</div>

