@model PhotoGallery.Models.ImageViewModel
@{
    ViewBag.Title = null;
}
<div class="btn-group">
    @Html.ActionLink("Galleries", "List", "Users", null, new { @class = "btn btn-default" })
    <a href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        @foreach (var gallery in Model.Galleries)
        {
            <li>@Html.ActionLink(gallery.Name, "ListGalleryImgages", "Image", new { id = gallery.Id },null)</li>
        }
    </ul>
</div>
