
@{
    ViewBag.Title = "Admin Page";
}

<div>
    <header>@ViewBag.Title</header>

    <div>
        @Html.ActionLink("Users", "List", "Users")
        @Html.ActionLink("Galeries", "List", "Gallery")
    </div>
</div>
